.glass-navbar {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1); /* translucent white */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  body{
    background-image: url(static/images/s2.webp);
    background-size: cover;
    background: rgba(42, 41, 41, 0.63);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(42, 41, 41, 1);

  }
  
    


