{% extends 'happy_hoeapp/base.html' %}
{% block title %} Index{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        
    </style>
    <div class="issue-container">
        <div class="tableglass-effect">
            <h1 class="fw-bold fs-2">Sales</h1>
            <form action="" method ='POST'>
       
                {% csrf_token %}
                {{ sales_form|crispy }}
                
                <input type="submit" value="Sell item" class="rounded-full py-2 px-4">
            </form>
        </div>
    </div>
   
    
{% endblock %}