{% extends 'happy_hoeapp/base.html' %}
{% block title %} Index{% endblock %}

{% load static %}

{% block content %}

        <!-- Main Content -->
        <div id="glass-effect">
            <!-- <h1>Welcome to {{ site_name }}</h1> -->
            <!-- <p>This is a Django dynamic app</p> -->
            {% if user.is_authenticated %}
                <h1 class="text-2xl">Welcome, {{ user.username }}!</h1>
            {% else %}
                <p>Please log in</p>
            {% endif %}
            <p class="text-blue-400 text-2xl">Below is an example of a for loop of DTL</p>
            <ul>
                {% for item in products %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
    
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category Name</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Cost of Stock</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr  class="table-secondary">
                        <td scope="row">{{ forloop.counter }}</td>
                        <td>{{ stock.Category_name }}</td>
                        <td>{{ stock.product_name }}</td>
                        <td>{{ stock.total_quantity }}</td>
                        <td>{{ stock.cost_of_stock }}</td>
                        <td><a href="{% url 'stock_detail' stock.id %}"><input type="submit" value="Checkout item"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

        
{% endblock %}